
/*Global styles*/
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

/*Header styles*/
header {
    background-color: #1b9a1b;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header h1 {
    margin: 0;
    color: #ffffff;
    font-size: 3em;
    flex-grow: 1;
    text-align: center;
}

header img {
    max-width: 50px;
    max-height: auto;
    padding-left: 2%;
}

/*Navigation styles*/
.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1b9a1b;
    text-align: right;
    font-size: 1.2em;
    width: 100%;
}

.topnav li {
    margin-left: 20px;
}

.topnav li.icon {
    font-weight: bold;
}

.topnav li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
}

.topnav li:hover {
    background-color: #146814;
    font-weight: bold;
    border: 1px dashed #ffffff;
}

.topnav li.hide {
    display: none;
}

.topnav.toggleclass li {
    display: block;
}

main {
    padding-bottom: 60px;
    overflow-y: auto;
}

/*Image styles*/
img {
    width: 100%;
    height: auto;
}

/*Paragraph styles*/
h2,
h3 {
    font-weight: bold;
    text-align: center;
}

h3 {
    color: #146814;
}

.Services,
.About {
    padding: 10px;
    background-image: radial-gradient(#f2f2f2, #c4e5b2);
    font-size: 1.1em;
    border: #b5d4a4 solid 3px;
    margin: 2%;
}

.Services p,
.About p {
    margin: 10px;
    font-size: 1.1em;
}

.button1 {
    text-align: center;
}

.button1 a {
    color: #000000;
    /* Change text color */
    text-decoration: none;
    /* Remove underline */
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    border: 2px solid #b5d4a4;
    cursor: pointer;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

button:hover {
    background-color: #f2f2f2;
    border-color: #146814;
    color: #000000;
    text-decoration: underline;
}

.faqindex{
border: solid #b5d4a4;
margin: 2%;
padding: 10px;
}

/*Footer styles*/
footer {
    background-color: #146814;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#google_translate_element {
    width: 50px;
    /* Adjust width as needed */
    height: auto;
    /* Adjust height as needed */
}

/*Services Specific CSS*/
.servicebox {
    background-color: #f2f2f2;
    margin: 0 auto;
}

.services img {
    max-width: 400px;
    height: auto;
    margin-top: 10px;
}

.services {
    padding: 20px;
    text-align: center;
}

.services ul {
    margin-bottom: 20px;
    padding-left: 0;
}

.services h4 {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
}

.services li {
    margin-bottom: 10px;
    padding: 10px;
    list-style-type: none;
}

/*FAQs Specific CSS*/
.faq {
    margin-bottom: 20px;
}

.faq h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: #146814;
    margin-bottom: 10px;
}

.faq p {
    font-size: 1em;
    color: #333333;
}

/* Media Queries*/
@media screen and (min-width:700px) {
    /*General/Homepage CSS*/
    main {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    /*Burger Menu*/
    ul.topnav {
        display: flex;
        justify-content: space-around;
    }

    ul.topnav li.hide {
        display: contents;
        font-weight: bold;
        
    }

    ul.topnav li.icon {
        display: none;
    }
    

    /*Two Parts*/
    .twoparts {
        display: flex;
        justify-content: space-between;
    }

    .Services,
    .About {
        flex: 1;
        margin-bottom:2%;
    }
}
